<!DOCTYPE html>
<html>
<head>
  {% load static %}

  <link rel="stylesheet" href="{% static '/cfstore.css' %}">
</head>
<html>
  <a href="/cfstoreviewer/viewcollections"><h2>Collections</h2></a>

  {%for collection in collections|checkcol:checks %}
  <button type="button" class="collapsible">{{collection.name}}</button>
  <div class="collection-block">
  

  <button type="button" class="collapsible">Variables
</button>
  <div class="collapsible-content">
    <form action="/cfstoreviewer/viewcollections/search/" method="post">
      {% csrf_token %}
      {{variable_search_form}}
    </form>  
    <table id="collapsibletable">

      {% for var,count in collection|getuniquevariables:checks %}
      
        <tr>
          <td><a href="/cfstoreviewer/viewcollections/variables/{{var|format_long_name}}"> <p class="variable">{{var}} ({{count}} unique variation(s))</p></a></td>
       </tr>
      {% endfor %}
    </table>
  </div>

  <form action="{{collection.name}}/download/" method="post">
      {% csrf_token %}
      <input type="hidden" id="collection" name="collection" value="{{collection.name}}"> 
      <input type="hidden" id="checks" name="checks" value="{{checks}}"> 
      <input type="submit" value="Download Collection" />
  </form>

  </div>
  {% endfor %}
  <form action="all/download/" method="post">
    {% csrf_token %}
    <input type="hidden" id="collection" name="collection" value="all"> 
    <input type="hidden" id="checks" name="checks" value="{{checks}}"> 
    <input type="submit" value="Download Collection" />
</form>
  <div class="browser">
    <form action="/cfstoreviewer/viewcollections/search/" method="post">
      {% csrf_token %}
      <button type="button" id="{{cellmethod}}" class="collapsiblebrowser">Contains Axes</button>
      <div class="collapsiblebrowser-content"> 
        <table id="collapsibletable">
          {% for axes in collection|getallvariablecellaxes %}
              <tr>
                <td> 
                  <p class="property">
                    <input type="checkbox" id="{{axes}}" name="check{{axes}}" value="{{axes}}"> {{axes}} 
                  </p>
                </td>
              </tr>
          {% endfor %}
        </table>
      </div>
      <div>
      {% for simulation,propertydict in collection|getallvariableproperties %}
      <button type="button" id="{{simulation}}" class="collapsiblebrowser">{{simulation}} </button>
      <div class="collapsiblebrowser-content"> 
        <table id="collapsibletable">
          {% for key,value in propertydict|getpropertyvalues %}
              <tr>
                <td> 
                  <button type="button" id="{{key}}" class="collapsiblebrowser">{{key}}: {{value}}</button>
                  <div class="collapsiblebrowser-content"> 
                    <table id="collapsibletable">
                      {% for val in value %}
                        <p class="property">
                          <input type="checkbox" id="{{value}}" name="P_{{value}}" value="{{value}}">  {{value}}
                        </p>
                      {% endfor %}
                    </table>
                  </div>
                </td>
              </tr>
          {% endfor %}
        </table>
      </div>
      {% endfor %}
      <button type="submit" id="True" name="browse">Browse!</button>
      <a href="/cfstoreviewer/viewcollections" class="button">End Browse</a>
    </form>
  </div>




<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>

<script>
  var coll = document.getElementsByClassName("collapsible-content");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>

<script>
  var coll = document.getElementsByClassName("collapsiblebrowser");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>

<script>
  var coll = document.getElementsByClassName("collapsible-browser-content");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>
</body>
</html>