<!DOCTYPE html>
<html>
<head>
  {% load static %}

  <link rel="stylesheet" href="{% static '/cfstore.css' %}">
</head>
<html>
  <h2>Collections</h2>

  {%for collection in collections %}
  <button type="button" class="collapsible">{{collection.name}}</button>
  <div class="collection-block">
  

  <button type="button" class="collapsible">Variables
</button>
  <button class="collapsible-content">
    <form>
      <input type="checkbox" id="standardname" onclick="checkboxfunction()" onload="checkboxfunction()" checked="True">
      <label for="standardname">Standard Name</label>
      <input type="checkbox" id="longname" onclick="checkboxfunction()" onload="checkboxfunction()">
      <label for="longname">Long Name</label>
      <br>
    
    </form>
    <form action="/cfstoreviewer/viewcollections/search/" method="post">
      {% csrf_token %}
      {{variable_search_form}}
    </form>  
    <table id="collapsibletable">

      {% for var in collection|getvariables %}
      <tr>
        <td><a href="variables/{{var|outputvar}}"> <p class="variable">{{var|outputvar}}</p></a></td>
      </tr>
      {% endfor %}
    </table>
  </button>



  </div>
  {% endfor %}

  <div class="browser">
  {% for collection in collections %}
    {% for propkey in collection|getvariableproperties %}
      <button type="button" id="{{prop}}" class="collapsible-browser">{{propkey|displayproperty}} </button>
      <div class="collapsible-browser-content"> 
        <table id="collapsiblebrowsertable">
          {% for property in propkey|getpropertyvalues %}
              <tr>
                <td> <p class="property">{{property}}</p></a></td>
              </tr>
          {% endfor %}
        </table>
      </div>
    {% endfor %}
  {% endfor %}
  </div>




<script>
  function checkboxfunction() {
    var longname = document.getElementById("longname");
    var standardname = document.getElementById("standardname");
    var text = document.getElementsByClassName("variable");
    for (i = 0; i < text.length; i++) {
      if (standardname.checked === false && text[i].innerHTML.includes("Long Name") === false){
        text[i].style.display = "none";
      }
      else if (longname.checked === false && text[i].innerHTML.includes("Long Name") === true){
        text[i].style.display = "none"; 
      } else {
        text[i].style.display = "block";
      }
    }
  }
  </script>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>

<script>
  var coll = document.getElementsByClassName("collapsible-content");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>

<script>
  var coll = document.getElementsByClassName("collapsible-browser");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>

<script>
  var coll = document.getElementsByClassName("collapsible-browser-content");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>
</body>
</html>