<!DOCTYPE html>
<html>
<head>
  {% load static %}

  <link rel="stylesheet" href="{% static '/cfstore.css' %}">
</head>
<html>



  <h2>Collections</h2>

  {%for collection in collections %}
  <button type="button" class="collapsible">{{collection.name}}</button>
  <div class="collection-block">
  
<p>
  <button type="button" class="collapsible">Variables     <form action="/cfstoreviewer/viewcollections/search/" method="post">
    {% csrf_token %}
    {{variable_search_form}}
  </form>  
</button>
  <button type="button" class="collapsible-content">
    <form>
      <input type="checkbox" id="standardname" onclick="checkboxfunction()">
      <label for="standardname">Standard Name</label>
      <input type="checkbox" id="longname" onclick="checkboxfunction()">
      <label for="longname">Long Name</label>
      <br>
    
    </form>
    <table id="collabsibletable">

    {% for var in collection|getvariables %}

      <tr>
        <td><p class="variable" href="../variables/{{var|outputvar}}">{{var|outputvar}}</p></td>
      </tr>
      {% endfor %}
    </table>
  </button>
</p>
<p>
</p>
  <button type="button" class="collapsible">Model</button>
  <button type="button" class="collapsible-content">
<p>
  <div >
    <p>Model 1</p>
    <p>Model 2</p>
  </div>
</p>
</button>
<p>
  <button type="button" class="collapsible">Tags</button>
  <button type="button" class="collapsible-content">
    <p>Tag 1</p>
    <p>Tag 2</p>
</button>
</p>


</div>
{% endfor %}


<script>
  function checkboxfunction() {
    var longname = document.getElementById("longname");
    var standardname = document.getElementById("standardname");
    var text = document.getElementsByClassName("variable");
    for (i = 0; i < text.length; i++) {
      if (standardname.checked === false && text[i].innerHTML.includes("Long Name") === false){
        text[i].style.display = "none";
      }
      else if (longname.checked === false && text[i].innerHTML.includes("Long Name") === true){
        text[i].style.display = "none"; 
      } else {
        text[i].style.display = "block";
      }
    }
  }
  </script>
  
<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>

<script>
  var coll = document.getElementsByClassName("collapsible-content");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>

</body>
</html>