<!DOCTYPE html>
<html lang="en">
    <head>
        {% load tags %}
        <meta charset="UTF-8">
    <style>
    table, th, td {
        border:1px solid black;
      }
    </style>

    </head>
    <body>
        <table>
        {% for b in variables %}  
            <tr>
                <td><a href="/cfstoreviewer/viewcollections/{{b|outputvar}}">{{b|outputvar}}</a></td>
                {% for a in b.in_collection.all %}
                    
                     <td><a href="/cfstoreviewer/viewcollections/{{ a.name }}">{{a.name}}</a></td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>    
        
        <!-- Navigation  -->
        <nav>
        </nav>
        <!-- End Navigation-->
    </body>
</html>