      a:link {
        color: #030303;
      }
      
      /* visited link */
      a:visited {
        color: #030303;
      }
      
      /* mouse over link */
      a:hover {
        color: #030303;
      }
      
      /* selected link */
      a:active {
        color: #030303;
      } 

      .dropbtn {
        background-color: #186f4d;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 10px;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 60%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 10px;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 40px;
        font-size: 16px;
        height: 150px;
        overflow: auto;
        box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 6px 8px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #ddd;}
      
      .dropdown:hover .dropdown-content {display: block;}
      
      .dropdown:hover .dropbtn {background-color: #030303;}
  
      .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 60%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 10px;
        z-index: 1;
      }
      
      .browser {
        position: absolute;
        left: 70%;
        top: 10%;
        width: 10%;
      }

      .collapsiblebrowser {
        background-color: #777;
        position: relative;
        color: white;
        cursor: pointer;
        padding: 4px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 14px;
        z-index: 2;
        display: block;
      }


      .active, .collapsible, .collapsiblebrowser:hover {
        background-color: #186f4d;
      }
  
      .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
      }

      .collection-block {
        padding: 0 18px;
        width: 50%;
        display: none;
        overflow: hidden;
        margin-bottom: 1%;
        background-color: #555;
      }

      .collapsibletable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse:collapse;
        position: inherit;
        z-index: inherit;
      }
  
      #collapsibletable td, #collapsibletable th {
        padding: 0px;
      }
  
      #collapsibletable tr:nth-child(even){background-color: rgb(227, 227, 227)}
      #collapsibletable tr:nth-child(odd){background-color: rgb(180, 179, 179)}
  
      #collapsibletable tr:hover {background-color: #186f4d;}
  
      #collapsibletable th {
        padding-top: -5px;
        padding-bottom: -1px;
        text-align: center;
        background-color: #186f4d;
        color: white;
        width: inherit;
  
      }
      .collapsiblebrowsertable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse:collapse;
        position: inherit;
        z-index: 10;
      }
  
      #collapsiblebrowsertable td, #collapsiblebrowsertable th, #collapsiblebrowsertable tr {
        padding: 0px;
        z-index: 10;
      }
  
      #collapsiblebrowsertable tr:nth-child(even){background-color: rgb(227, 227, 227)}
      #collapsiblebrowsertable tr:nth-child(odd){background-color: rgb(180, 179, 179)}
  
      #collapsiblebrowsertable tr:hover {background-color: #186f4d;}
  
      #collapsiblebrowsertable th {
        padding-top: -5px;
        padding-bottom: -1px;
        text-align: center;
        background-color: #186f4d;
        color: white;
        width: 10%;
  
      }
      .collapsible-content {
        padding: 0 -1px;
        display: none;
        font-size: 8pt;
        overflow: hidden;
        margin-bottom: 0%;
        background-color: #555;
        width: 50%;
        z-index: 1;
      }

      .collapsiblebrowser-content {
        padding: 0 -1px;
        display: none;
        font-size: 8pt;
        overflow: hidden;
        margin-bottom: 0%;
        background-color: #555;
        position:relative;
        text-align: left;
        overflow: visible;
        z-index: 2;
      }

      .overlay {
        position: fixed; /* Sit to the right of the page content */
        width: 15%; /* Full width (cover the whole page) */
        height: 60%; /* Full height (cover the whole page) */
        top: 10%;
        left: 65%;
        right: 60;
        bottom: 60;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        font-size: large;
      }

      .overlay-button{
        position: relative; /* Sit to the right of the page content */
        width: 20px;
        height: 20px;
        top: 60;
        left: 65%;
        right: 60;
        bottom: 60;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        font-size: large;
      }

      .overlay-text{
        position: relative;
        left: 67%;
        right: 60;
        padding:1;
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        font-size: large;
      }

      .variable{
        padding: 0%;
        width: 500px;
      }

      #variable a {
        text-decoration:none
      }
  
      .property{
        padding: 0%;
        width: 200px;
        word-wrap: break-word;
        line-clamp: 2;
        text-overflow: ellipsis;
        z-index: 2;
      }

      #property p{
        padding: 0%;
        width: 200px;
        word-wrap: break-word;
        line-clamp: 2;
        text-overflow: ellipsis;
        z-index: 2;
      }