a:link {
    color: #030303;
  }
  
  /* visited link */
  a:visited {
    color: #030303;
  }
  
  /* mouse over link */
  a:hover {
    color: #186f4d;
  }
  
  /* selected link */
  a:active {
    color: #030303;
  } 
      .dropbtn {
        background-color: #030303;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 40px;
        font-size: 16px;
        height: 150px;
        overflow: auto;
        box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 6px 8px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #ddd;}
      
      .dropdown:hover .dropdown-content {display: block;}
      
      .dropdown:hover .dropbtn {background-color: #030303;}
  
      .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 10px;
      }
  
      .active, .collapsible:hover {
        background-color: #186f4d;
      }
  
      .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
      }

      .collection-block {
        padding: 0 18px;
        width: 50%;
        display: none;
        overflow: hidden;
        margin-bottom: 1%;
        background-color: #555;
      }
  
      #collabsibletable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        
      }
  
      #collabsibletable td, #collabsibletable th {
        padding: 0px;
      }
  
      #collabsibletable tr:nth-child(even){background-color: rgb(227, 227, 227)}
      #collabsibletable tr:nth-child(odd){background-color: rgb(180, 179, 179)}
  
      #collabsibletable tr:hover {background-color: #186f4d;}
  
      #collabsibletable th {
        padding-top: -5px;
        padding-bottom: -1px;
        text-align: left;
        background-color: #186f4d;
        color: white;
        width: 50%
  
      }
  
      .collapsible-content {
        padding: 0 -1px;
        display: none;
        font-size: 8pt;
        overflow: hidden;
        margin-bottom: 0%;
        background-color: #555;
        width: 30%
      }